* {
    box-sizing: border-box;
}

:root {
    --color-links: #357b70;
    --color-links-visited: #002292;
    --color-links-hover: #FF0000;
    --color-links-active: #489c79;
    --button-bg-color: #357b70;
    --button-text-color: #FDF4DC;
    --border-color: #000000;
    --button-color-secondary: #e0b354;
    --nav-bg-color: #1274d9;
    --grid-bg-color: #D3D3D3;
  }
body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.about {
    max-width: 700px;
    margin: 0 auto;
}
.about-item {
    display: flex;
    justify-content: center;
    text-align: center;
}
.contact {
    max-width: 700px;
    margin: 0 auto;
}
.contact-item {
    display: flex;
    justify-content: center;
    text-align: center;
}
.page-title {
    text-align: center;
}
.contact-form {
    flex: 1 1 500px;
    max-width: 500px;
}
.contact-form__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    margin-top: 10px;
    text-align: left;
}
h1 {
    font-size: 45px;
    font-weight: 700;
}
a {
    color: var(--color-links);
}
a:visited {
    color: var(--color-links-visited);
}
a:hover {
    text-decoration: none;
    color: var(--color-links-hover);
}
a:focus {
    text-decoration: none;
    color: var(--color-links-hover);
}
a:active {
    color: var(--color-links-active );
}
button {
    width:75px;
    border: none;
    font-family: inherit;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-color);
    margin: 5px 0 0 3px;
    transition: 0.2s opacity;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
button:focus {
    cursor: pointer;
    opacity: 0.8;
}
.button__secondary {
    background-color: var(--button-color-secondary);
    color: var(--button-text-color);
    transition: 0.2s opacity;
}

.contact-form__item:last-child{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;   
}

.about-item__linkedin{
margin: 20px auto;
text-align: center;
}

table {
    border: 1px var(--border-color) #000;
    border-collapse: collapse;
    text-align: center;
}
th {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.page-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    flex: 0 1 200px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.navigation-list li .navigation-list__item--active {
    color: var(--button-text-color);
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--border-color);
    padding: 2px 6px;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px;
}
.navigation-list__item{
    text-decoration: none;
}
.navigation-list__item:hover{
    color: var(--color-links-visited);
}
.page-footer__item {
    height: 30px;
    width: 30px;
}
.grid__item {
    display: inline-block;
    width: 33%;
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
}
.grid__item:last-child {
    grid-column: 1;
    grid-row: 0.3333333333;
}
@keyframes color-change {
    0% {
        fill: #edc655;
   }
    50% {
        fill: #fcffad;
   }
    100% {
        fill: #f76414;
   }
}

/* ANIMATION */

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
   }
    to {
        transform: translate(100px, 48px);
   }
}
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/*END OF ANIMATION*/

/* start grid fallback */

.grid__item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
    }
    .grid__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 15px;
    }
    .grid__item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }
}

/*vertically align content when screen is from 0 to 440 px*/

@media all and (max-width: 440px) {
    .navigation-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-header, .page-footer, .profile {
        margin: 0 auto;
    }
    .page-header__item {
        margin: 0 auto;
    }
    .profile {
        text-align: center;
    }
    .profile__portrait {
        float: none;
        margin: auto;
    }
    .navigation-list {
        padding: 0;
    }
    .navigation-list li {
        margin: auto;
    }
    .about-item {
        margin: 0 20px;
    }
    .contact-form, .contact-form__item {
        margin: 0 10px;
    }
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}