/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.about {
    max-width: 700px;
    margin: 0 auto;
}
.about-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.contact {
    max-width: 700px;
    margin: 0 auto;
}
.contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.page-title {
    text-align: center;
}
.contact-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    max-width: 500px;
}
.contact-form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    margin-top: 10px;
    text-align: left;
}
h1 {
    font-size: 45px;
    font-weight: 700;
}
a {
    color: #357b70;
}
a:visited {
    color: #002292;
}
a:hover {
    text-decoration: none;
    color: #FF0000;
}
a:focus {
    text-decoration: none;
    color: #FF0000;
}
a:active {
    color: #489c79;
}
button {
    border: none;
    font-family: inherit;
    background-color: #357b70;
    color: #FDF4DC;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000;
    margin-top: 5px;
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
button:focus {
    cursor: pointer;
    opacity: 0.8;
}
.button__secondary {
    background-color: #e0b354;
    color: #FDF4DC;
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    margin-top: 20px;
    background-color: #357b70;
    color: #FDF4DC;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000;
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
.button:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #FDF4DC;
}
.button:focus {
    cursor: pointer;
    opacity: 0.8;
    color: #FDF4DC;
}
.button:visited {
    cursor: pointer;
    opacity: 0.8;
    color: #FDF4DC;
}

table {
    border: 1px #000000 #000;
    border-collapse: collapse;
    text-align: center;
}
th {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
.navigation-list li .navigation-list__item--active {
    color: #FDF4DC;
    background-color: #1274d9;
    border-bottom: 1px solid #000000;
    padding: 2px 6px;
    border-radius: 4px;
    text-decoration: none;
}
.navigation-list__item{
    text-decoration: none;
}
.navigation-list__item:hover{
    color: #002292;
}
.page-footer__item {
    height: 30px;
    width: 30px;
}
.grid__item {
    display: inline-block;
    width: 33%;
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
}
.grid__item:last-child {
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: 0.3333333333;
}
@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
   }
    50% {
        fill: #fcffad;
   }
    100% {
        fill: #f76414;
   }
}
@keyframes color-change {
    0% {
        fill: #edc655;
   }
    50% {
        fill: #fcffad;
   }
    100% {
        fill: #f76414;
   }
}

/* ANIMATION */

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
   }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
   }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
   }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
   }
}
.sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}

/*END OF ANIMATION*/

/* start grid fallback */

.grid__item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
    }
    .grid__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 15px;
    }
    .grid__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}

/*vertically align content when screen is from 0 to 440 px*/

@media all and (max-width: 440px) {
    .navigation-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .page-header, .page-footer, .profile {
        margin: 0 auto;
    }
    .page-header__item {
        margin: 0 auto;
    }
    .profile {
        text-align: center;
    }
    .profile__portrait {
        float: none;
        margin: auto;
    }
    .navigation-list {
        padding: 0;
    }
    .navigation-list li {
        margin: auto;
    }
    .about-item {
        margin: 0 20px;
    }
    .contact-form, .contact-form__item {
        margin: 0 10px;
    }
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}